<h2>Liste of my most loved traps singers</h2>
<ul>
  <li class="midlaner">Bad Bunny</li>
  <li class="midlaner">Ozuna</li>
  <li class="toplaner">Dady Yankee</li>
  <li class="midlaner">Mike Towers</li>
  <li class="toplaner">Jay Wheeler</li>
</ul>